<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <div id="carouselAutoplaying" class="carousel slide w-75 m-auto" data-bs-ride="carousel" data-bs-pause="false">
        <h1>인기 영화</h1>
        <div class="carousel-indicators" id="carousel-indicators">
            <!-- JS가 동적으로 버튼을 생성 -->
        </div>

        <div class="carousel-inner" id="carousel-inner">
            <!-- JS가 동적으로 carousel-item을 생성 -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon p-4" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon p-4" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <h2>다은님에게 추천</h2>
    <div class="d-flex overflow-auto gap-1" id="recommended-list">
        <!-- JS로 동적으로 카드 생성 -->
    </div>

    <br>
    <h2>나의 관심 리스트</h2>
    <div class="d-flex overflow-auto gap-1" id="watch-list">
        <!-- JS로 동적으로 카드 생성 -->
    </div>
</div>
</html>